* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

/* Header */
.header {
    background-color: #04AA6D;
    color: #fff;
    height: 8.87em;
    padding: 1.3em;
}

/* Navigation */
.items {
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 0;
    width: 100%;
    display: flex;
    overflow: hidden;
    justify-content: space-around;
    position: fixed;
    background-color: #555;
}

.navigation {
    margin-left: -1.28em;
    text-align: center;
    position: fixed;
    z-index: 2;
}

.item a {
    text-decoration: none;
    color: #fff;
    padding: 0.7em 1em;
    display: block;
}

.item a:hover {
    background-color: #45a049;
    color: black;
}

main {
    padding: 1.2em;
    max-width: 75em;
    margin: 0 auto;
}

.secondHeading {
    font-size: 1.7em;
    margin-bottom: 0.5em;
    color: #555;
}

.image {
    text-align: center;
    margin-bottom: 0.7em;
    opacity: 0.5;
}

.introduction {
    display: flex;
    justify-content: center;
    position: relative;
    top: 0.85em;
}

.image:hover {
    opacity: 1;
}

.table {
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
}

.table th,
.table td {
    border: 2px solid #ddd;
    padding: 0.6em;
    text-align: center;
}

.span {
    font-weight: bold;
}

.input-parameter-button {
    font-style: initial !important;
}

.input-parameter-button:hover {
    background-color: #555;
}

[class*="input"] {
    margin-right: 30px;
    margin-top: -0.6em;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
    color: #999;
    font-style: italic;
    margin-bottom: 1em;
}

.caption {
    text-align: center;
    font-style: italic;
    color: #777;
    margin-top: 10px;
}

/* Footer */
.footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #f5f5f5;
}

::selection {
    color: white;
    background-color: blue;
}

/* Media Query for Small Screens */
@media (max-width: 768px) {
    .items {
        flex-direction: column;
    }

    .item {
        margin: 10px 0;
    }

    .input-parameter-button {
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
}

.label {
    padding: 0.8em 0.8em 0.8em 0;
    display: inline-block;
}

.input-parameter-button {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.input-parameter-button:hover {
    background-color: #45a049;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .input-parameter-button {
        width: 100%;
        margin-top: 0;
    }
}
